<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AIDatingSim/xtend-gen/net/ai_comp/contests2014/aidatingsim/GUIClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.ai_comp.contests2014.aidatingsim.GUIClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AIDatingSim"/>
</launchConfiguration>
